.body_backgorund 
{
    background-image:url(cute2.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width:10px;
   border-style: ridge;
   border-color: blueviolet;
}

